body {
  background: #000;
  color: #fff;
}

#text {
  color: red;
  background-color: aqua;
}

.text {
  color: aquamarine;
}

text {
  color: aqua;
}

ul {
}

li {
}
nav {
  display: none;
}
footer {
  display: none;
}

aside {
  display: none;
}

a {
  color: white;
}

header {
  display: none;
}
script {
  display: none;
}

form {
  display: none;
}

section {
  display: none;
}

a[href*='javascript:window.print()'] {
  display: none;
}

a[href*='twitter'] {
  display: none;
}

a[href*='facebook'] {
  display: none;
}

a[href*='linkedin'] {
  display: none;
}

div > ul:first-child {
  display: none;
}
